* {

  box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

.hero {

    background-color: #1F2937;
    color: white;
    padding: 8px 200px;
}

.header {

    display: flex;
    justify-content: space-between;
    font-size: 18px;
    align-items: center;
    
}

ul {

    display: flex;
    list-style: none;
    gap: 16px;
}


.body {

    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drip {

    width: 600px;
    height: auto;
    flex: 1;
}

.main {

    display: flex;
    gap:15px;
    justify-content: space-between;
}

.title {

    font-size: 48px;
    font-weight: bolder;
}

.description {

    font-size: 18px;

}

button {

    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border: 0px;
    padding: 5px;
}

.logo {

    font-size: 24px;
}

img {

    width: 300px;
    height: auto;
}

.pics {

    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
    align-items: center;
}

h1 {

    text-align: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    margin: 50px 200px;
    display: flex;
    flex-direction: column;
}

.sign {

    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    align-self: end;
}

#footer {

    background: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}